@import "themes/macchiato.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: 0px;
    color: @lavender;
    font-family: UbuntuMono;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
}

#workspaces {
    background-color: rgba(36, 39, 58, 0.6);
    border-radius: 10px;
    border-style: solid;
    margin: 8px 8px 8px 8px;
    opacity: 1;
}

#workspaces * {
    color: whitesmoke;
}

#workspaces button {
    border-radius: 50%;
    color: @base;
    margin: 0px 8px 0px 8px;
    padding: 4px 6px 2px 0px;
}

#workspaces button.active {
    border-radius: 20px;
    color: @mauve;
}

#workspaces button.active * {
    color: @mauve;
}

#workspaces button:hover {
    background: none;
    border: 0px;
    box-shadow: none;
    color: @mauve;
    text-shadow: none;
}

#workspaces button:hover * {
    color: @mauve;
}

#mode {
    color: #ebcb8b;
    margin-bottom: 3px;
}

#clock,
#battery,
#memory,
#temperature,
#language,
#backlight,
#network,
#wireplumber,
#mode,
#tray,
#custom-power,
#custom-launcher,
#custom-music {
    background-color: rgba(36, 39, 58, 0.6);
    border-style: solid;
    margin: 8px 0px;
    opacity: 1;
    padding: 6px 9px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

/* Left modules */
#custom-launcher {
    background-color: @mauve;
    border-radius: 10px;
    color: @base;
    margin-left: 8px;
    padding: 5px 10px;
}

#tray {
    border-radius: 10px;
    margin: 8px 10px;
    margin-left: 8px;
}

#custom-music {
    background-color: rgba(36, 39, 58, 0.6);
    border-radius: 10px;
    color: @mauve;
    margin: 8px 8px;
    padding: 6px 9px;
}

/* Center modules */
#clock {
    border-radius: 10px;
    color: @sky;
    margin: 8px 10px;
}

/* Right modules */
#backlight {
    border-radius: 10px 0px 0px 10px;
    color: @yellow;
}

#wireplumber {
    color: @flamingo;
}

#language {
    border-radius: 0px 10px 10px 0px;
    color: @peach;
    margin-right: 10px;
}

#temperature {
    border-radius: 10px 0px 0px 10px;
    color: @teal;
}

#temperature.critical {
    color: @red;
}

#memory {
    color: @sky;
}

#battery {
    border-radius: 0px 10px 10px 0px;
    color: #d8dee9;
    margin-right: 10px;
}

#battery.charging {
    color: #81a1c1;
}

#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    color: #bf616a;
}

#network {
    border-radius: 10px;
    color: @green;
    margin-right: 5px;
}

#network.disabled {
    color: #bf616a;
}

#network.disconnected {
    color: #bf616a;
}

#custom-power {
    background-color: @red;
    border-radius: 10px;
    color: @base;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
}

#wireplumber.muted {
    color: #3b4252;
}

#window {
    color: #eceff4;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes blink {
    to {
        color: @red;
    }
}
